* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    line-height: 1.4;
}

.product {
    width: 825px;
    margin: 50px auto;
    border: 4px solid black;
    position: relative;
}

.sale {
    display: inline-block;
    position: absolute;
    top: -17px;
    left: -34px;
    background-color: red;
    color: white;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bold;
    padding: 7px 15px;
}

/* .product::before {
    content: "SALE";
    position: absolute;
    top: -15px;
    left: -15px;
    background-color: red;
    padding: 3px 10px;
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    font-size: 15px;
} */

.color {
    width: 22px;
    height: 22px;
    display: inline-block;
    /* Can't use inline b/c they can't take a height and width */
    margin-right: 10px;
    background-color: black;
}

.color-black {
    background-color: black;
}
.color-red {
    background-color: red;
}
.color-yellow {
    background-color: yellow;
}
.color-green {
    background-color: green;
}
.color-blue {
    background-color: blue;
}
.color-violet {
    background-color: violet;
}

.title {
    text-align: center;
    text-transform: uppercase;
    background-color: #f7f7f7;
    font-size: 22px;
    padding: 15px;
}

.price {
    font-size: 24px;
}

.shipping {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color: #777;
    margin-bottom: 20px;
}

.content-details {
    margin-bottom: 10px;
}

.more-info:link,
.more-info:visited {
    /* anchor tag is an inline element and margins don't apply to the top and bottom */
    display: inline-block;
    margin-bottom: 30px;
    color: black;
}

.more-info:hover,
.more-info:active {
    text-decoration: none;
}

/* Product Details */
.product-details {
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: bold;
}

.details-list {
    list-style: square;
    margin-left: 30px;
}

.details-list li {
    margin-bottom: 10px;
}

.cart-button {
    background-color: #000;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    border: none;
    border-top: 4px solid black;
    cursor: pointer;
    padding: 15px;
    width: 100%;
}

.cart-button:hover {
    background-color: #fff;
    color: #000;
}
/* 
.product-img {
    float: left;
    width: 275px;
    height: 275px;
    margin-right: 40px;
}

.center {
    float: left;
    width: 230px;
    margin-right: 40px;
    padding: 10px 0;
    padding-top: 20px;
}

.right {
    float: left;
    width: 230px;
    padding: 10px 10px;
    padding-top: 20px;
}

.price {
    float: left;
}

.shipping {
    float: right;
    padding: 10px;
}

.content-details {
    clear: both;
} */

/* .clearfix::after {
    content: " ";
    display: block;
    clear: both;
} */

.container {
    display: grid;
    align-items: center;
    /* justify-content: space-between; */
    gap: 40px;
}

.colors {
    display: flex;
}

.shipping {
    margin-bottom: 0;
}

.product-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.center {
    flex: 1;
}

.right {
    flex: 1;
}
